<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Tempo</th>
      <th scope="col">Moto</th>
      <th scope="col">Carro</th>
      <th scope="col">Caminhão</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Até 1 hora</th>
      <td>R$2,00</td>
      <td>R$3,00</td>
      <td>R$5,00</td>
    </tr>
    <tr>
      <th scope="row">Até 3 horas</th>
      <td>R$4,00</td>
      <td>R$4,00</td>
      <td>R$8,00</td>
    </tr>
    <tr>
      <th scope="row">Demais Horas</th>
      <td>R$10,00</td>
      <td>R$16,00</td>
      <td>R$20,00</td>
    </tr>
  </tbody>
</table>