 <div class="pagination">
      <span class="step-links">
        {% if parkings.has_previous %}
          <a href="?page={{parkings.previous_page_number}}"><i class="fa-solid fa-circle-chevron-left"></i></a>
        {% endif %}

      {% if parkings.paginator.num_pages %}
      <span class="current">
          {{parkings.number}} de {{parkings.paginator.num_pages}}
      </span>
      {% endif %}

        {% if parkings.has_next %}
          <a href="?page={{parkings.next_page_number}}"><i class="fa-solid fa-circle-chevron-right"></i></a>
        {% endif %}
      </span>

</div>