{% extends 'base.html' %}

{% block title %}Estacionamento{% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">
        <h1>Estacionamento</h1>

    <div class="container-search">
        <form method="GET" id="search-form">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite a placa do veículo" value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
        <a href="parking" class="btn-add" role="button" >Adicionar veiculo</a>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include 'parking/parking_data.html' %}

    {% include 'pagination.html' %}

{% endblock %}
</div>
