{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Pagamento{% endblock %}


{% block content %}


<div class="offset-1 col-10 list-div">

    <h1>Pagamento</h1>

    {% include 'parking/schedules.html' %}

    <h4 class="subtitle" style="text-align: center">Periodo</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Entrada</th>
            <th scope="col">Data atual</th>
            <th scope="col">Horas totais</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{date_input}}</td>
            <td>{{date_now}}</td>
            {% if total_hour >= 10 %}
                <td> + = 10</td>
            {% else %}
                <td>{{total_hour}}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>

    <form method="POST">
        {% csrf_token %}

        <div class="input-group mb-3">
                <span class="input-group-text"> Valor a ser pago R$</span>
            <input disabled class="form-control" type="text" name="value"
                   value={{value}}>
        </div>
        <input type="submit" class="btn btn-success"
               value="Efetuar o pagamento">

    </form>

</div>


{% endblock %}