.container-fluid{
    padding:0;
}

.logo{
    padding: 10px 0 10px 30px;
    /* font-size: 30px; */
    background-color: rgb(24, 23, 23);
}

/* Navbar */
#navbarNav.nav-item.navbar-toggler-icon{
    color: white;
    background-color: #fff;
}

.fa-solid.fa-square-parking{
    color: white;
    font-size: 40px;
    padding: 10px;
}

#home-link{
    color: #fff;
    font-size: 25px;
    padding-left: 20px;
}

/* Content */
.list-div{
    padding:15px 0;
}

/* Button */
#add-link{
    text-decoration: none;
}

.btn{
    margin-top:20px;
}

.btn-add{
    padding: 10px 25px;
    background-color: #229c28;
    text-decoration: none;
    border-radius: 4px;
    transition-duration: 0.4s;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.btn-add:hover {
    background-color: #63a166; 
    color: white;
}

.fa.fa-plus{
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

.deactivate-btn{
    pointer-events: none;
}

/* Search */
.container-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0 20px;
}

#search-form {
    display: flex;
    align-items: center;
    width: 40%;
    gap:4px;
}

/* Table */
tr{
    text-align: center;
}

/* icons  */
.fas.fa-trash, .fas.fa-edit, .fa-solid.fa-money-bill, .fas.fa-search{
    cursor: pointer;
}

#search-btn{
    font-size: 20px;
    background-color: rgb(40, 50, 146);
    padding: 7px;
    border-radius: 50%;
    color: #fff;
}

.fa-solid.fa-money-bill{
    color: #13c43f;
}

.fas.fa-trash{
    color: #db1e47;
}

.fas.fa-edit{
    color: #4682B4;
}

/* Messages */

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}


/* Pagination */
.pagination{
    margin-bottom: 20px;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

