.container-fluid{
    padding:0;
}

.container-fluid .row {
    margin: 0;
}

/* Navbar */
.navbar{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link{
    color: #333;
    letter-spacing: 1px;
}

/* Content */
.list-div{
    padding:0;
}


/* Button add */
#add-link{
    text-decoration: none;
}

.btn{
    margin-top:20px;

}
.add-btn{
    margin-right: 0;

}
/* .add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
} */

.fa.fa-plus{
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

.deactivate-btn{
    pointer-events: none;
}
/* Search */


.search-div {
    display: flex;
    padding: 0;
    background-color: red;


}

/* .fas.fa-search { */
    /*position: absolute;*/
    /* top: 12px;
    right: 26px;
    cursor: pointer;
} */


/* Table */
tr{
    text-align: center;
}
.fas.fa-trash, .fas.fa-edit, .fa-solid.fa-money-bill{
    cursor: pointer;
}
.fa-solid.fa-money-bill{
    color: #13c43f;
}
.fas.fa-trash{
    color: #db1e47;
}
.fas.fa-edit{
    color: #4682B4;
}
/* Messages */

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}


/* Pagination */
.pagination{
    margin-bottom: 20px;
}

.step-links{
    postion: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

